#root > div > div {
	width: 100%;
}

.dweetBox {
	width: 100%;
	display: flex;
	justify-content: center;
}
textarea {
	resize: none;
    margin-top: 5px;
}
.dweetBox form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.dweetBox form textarea:nth-of-type(1) {
	width: 450px;
	height: 200px;
}
.dweetBox form label:nth-of-type(1) {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.25);
}
.dweetBox form button {
    border: 0;
    background: none;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.dweetEditBox {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.dweetBox form label:hover,
.dweetBox form button:hover {
	color: black;
	transition: color 0.35s;
}
.dweetBox form input:nth-of-type(1) {
    display: none;
}
.dweetMsgBox {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: flex-start !important;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.photoUrlBox {
	width: 96px;
	height: 96px;
	position: relative;
}
.photoUrl {
	width: 96px !important;
	height: 96px !important;
	margin: 0 auto 0 0 !important;
	border-radius: 50%;
}

.dweetMsgBox div:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.dweetMsgBox img {
	margin: 10px;
	z-index: 999;
	cursor: pointer;
}
.dweetMsgBox button {
	border: 0;
	background: none;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.1);
}
.dweetMsgBox button:hover {
	color: rgb(255, 0, 0);
	transition: color 0.35s;
}
.dweetBtn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	z-index: 999;
	position: absolute;
	right: 0;
	margin: 10px;
}
.dweetMsgBox h3 {
	margin: 10px;
	color: rgba(29, 156, 240, 1);
	text-align: left !important;
}
.dweetMsgBox h4 {
	padding: 0 10px;
	width: 90%;
	margin: 0;
	font-weight: 300;
}

.timeCheckBox {
	position: absolute;
	right: 0;
	bottom: 0;
}

.timeCheckBox p {
	padding: 0 20px;
	color: rgb(0, 0, 0);
	opacity: .5;
}
.notPopupActive {
	display: none;
}
.popupActive {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
}
.popupActive img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// 글 좋아요
.postHead {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.likeCheckBox svg {
	color: Red;
	cursor: pointer;
}